/* body background & text color */
body { background-color: #cccaca;
        color: #065061;
    }

/*Set link color */
a:link {color: #02242c;}

/*Set heading color */
h1,h2 {color: #065061;}

table:hover{ 
    color: #065061;
    background-color:#ebe8e6;
}

/*Site navigation link, highlight color, background */
nav {background-color: #cccaca;
     padding: 10px;
     margin-bottom: 30px;}

nav a{color: #065061;}
nav a:hover {background-color: #cc8251;}


@media only screen and (max-width: 600px){
     span{display: none;}
     nav a{display:block; width:100%; margin-left:auto; margin-right:auto;}
}

/* Change the heading font size */
h1 {font-size: 2.5em;}
h2 {font-size: 1.5em;}

/* Change the font of the body selector */
body{font-family:'Courier New', Courier, monospace;}


 