/* body background & text color */
body { background-color: #aaaaaa;
        color: #ccf2f4;}

/*Set link color */
a:link {color: #f4f9f9;}

/*Set heading color */
h1,h2 {color: #a4ebf3;}

table:hover{ 
    color: #0283bf;
    background-color: #443d4d;
}

/*Site navigation link, highlight color, background */
nav {background-color: #aaaaaa;
     padding: 10px;
     margin-bottom: 30px;}

nav a{color: #0066ff;}
nav a:hover {background-color: #b3ebca;}


@media only screen and (max-width: 600px){
     span{display: none;}
     nav a{display:block; width:100%; margin-left:auto; margin-right:auto;}
}